@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap Overrides

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

// Pages
@import 'pages/dashboard';
@import 'pages/clientTest';
.table {
  margin-bottom: 0px;
}
.zero_width {
  width: 0px !important;
}
.inline_block {
  display: inline-block !important;
}
.custom_datepicker_wrapper {
  display: flex;
  flex-flow: row;
  div.input_box {
    flex-grow: 1;
  }
  div:first-child {
    width: 0px;
    >input {
      visibility: hidden;
    }
  }
}
.search_box_wrapper {
  position: relative;
  >input {
    width: 300px !important;
  }
  .search_result_wrapper {
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0%;
    top: 36px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.04), 0 2px 8px 0 rgba(112,92,92,.06), 0 2px 4px 0 rgba(0,0,0,.08);
    background-color: white;
    padding: 8px;
    >li {
      list-style: none;
      padding: 8px;
      border-bottom: solid 1px #DDD;
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(2n + 0) {
        background-color: #F8F8F8;
      }
      >a {
        color: black;
        text-decoration: none;
        width: 100%;
        display: block;
      }
    }
  }
}
#app {
  padding-top: 80px;
}
.navbar {
  position: fixed;
  z-index: 1;
  width: 100vw;
  left: 0px;
  top: 0px;
}