@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap Overrides
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

// Pages
@import 'pages/dashboard';
@import 'pages/clientTest';

.zero_width {
  width: 0px !important;
}
.inline_block {
  display: inline-block !important;
}
.custom_datepicker_wrapper {
  display: flex;
  flex-flow: row;
  div.input_box {
    flex-grow: 1;
  }
  div:first-child {
    width: 0px;
    >input {
      visibility: hidden;
    }
  }
}